<table width="600" style="font: 12px Myriad,Helvetica,Tahoma,Arial,clean,sans-serif;"  align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td bgcolor="#ffffff" color="#000000" width="584">
                <h3 style="color:#000000;">
                    <a href="<?php ?>">Australian Packaging Covenant - Information Request</a>
                </h3>
            </td>
        </tr>
        <tr>
            <td class="cell" width="584" bgcolor="#ffffff">
                <?php echo $message; ?> <br/>
                <?php echo $message_id; ?>
            </td>
        </tr>
    </tbody>
</table>