<div class="questionCategoryTypes index">
	<h2><?php echo __('Question Category Types'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($questionCategoryTypes as $auditQuestionCategoryType): ?>
	<tr>
		<td><?php echo h($auditQuestionCategoryType['AuditQuestionCategoryType']['id']); ?>&nbsp;</td>
		<td><?php echo h($auditQuestionCategoryType['AuditQuestionCategoryType']['name']); ?>&nbsp;</td>
		<td><?php echo h($auditQuestionCategoryType['AuditQuestionCategoryType']['created']); ?>&nbsp;</td>
		<td><?php echo h($auditQuestionCategoryType['AuditQuestionCategoryType']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $auditQuestionCategoryType['AuditQuestionCategoryType']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $auditQuestionCategoryType['AuditQuestionCategoryType']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $auditQuestionCategoryType['AuditQuestionCategoryType']['id']), null, __('Are you sure you want to delete # %s?', $auditQuestionCategoryType['AuditQuestionCategoryType']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Type'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Questions'), array('controller' => 'questions', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Question'), array('controller' => 'questions', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Categories'), array('controller' => 'question_categories', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Category'), array('controller' => 'question_categories', 'action' => 'add')); ?> </li>
	</ul>
</div>
