
<h2 class="content-block">{{audit_type_name}}</h2>

<!--
<dx-data-grid id="gridContainer" class="dx-card wide-card"
    [dataSource]="dataSource"
    [remoteOperations]="false"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [showBorders]="false"
    keyExpr="id"
    [hoverStateEnabled]="true"
    [selectedRowKeys]="[]"

    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"

    (onContentReady)="contentReady($event)"
    (onRowClick)="rowClicked($event)"
    (onCellDblClick)="cellDblClicked($event)">
    <dxo-editing
        mode="cell"
        [allowAdding]="true"
        [allowUpdating]="true"
        [allowDeleting]="true">
    </dxo-editing>

    <dxo-selection mode="single"></dxo-selection>
    <dxi-column dataField="id" caption="ID#" ></dxi-column>
    <dxi-column dataField="audit_question_category_type_id" caption="Type ID#" >
        <dxo-lookup [dataSource]="categoriesData" valueExpr="id" displayExpr="name"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="shortened_description" caption="Short Desc." ></dxi-column>
    <dxi-column dataField="audit_date" caption="Date" dataType="date"></dxi-column>

</dx-data-grid>
-->
<div class="dx-card wide-card">
    <dx-vector-map id="vector-map" [bounds]="[-180, 85, 180, -60]"   (onClick)="markerClick($event)" >
      <dxo-tooltip [enabled]="true" contentTemplate="tooltipContent"></dxo-tooltip>
      <dxo-export [enabled]="true"></dxo-export>
      <dxo-title text="{{audit_type_name}}">
        <dxo-subtitle text="EPR Knowledge Database"></dxo-subtitle>
      </dxo-title>
      <dxi-layer
        [customize]="customizeLayers"
        [dataSource]="worldMap"
        [colorGroups]="[
          0, 10000, 50000, 100000, 500000, 1000000, 10000000, 50000000
        ]"
        colorGroupingField="total"
        name="areas"
      >
        <dxo-label [enabled]="true" dataField="name"></dxo-label>
      </dxi-layer>
      <dxi-layer [dataSource]="markers"></dxi-layer>
      <dxi-legend [customizeText]="customizeText">
        <dxo-source layer="areas" grouping="color"></dxo-source>
      </dxi-legend>
      <div *dxTemplate="let info of 'tooltipContent'" class="state-tooltip">
        <div>
          <h4>{{ info.attribute("name") }}</h4>
          <div
            *ngIf="gdpData[info.attribute('name')] as countryGDPData"
            id="nominal"
          >
            Nominal GDP: $<span>{{
              pipe.transform(countryGDPData.total, "1.0-0")
            }}</span
            >M
          </div>
          <div *ngIf="getPieData(info.attribute('name')) as data; else noData">
            <dx-pie-chart id="gdp-sectors" [dataSource]="data" [animation]="false">
              <dxi-series argumentField="name" valueField="value">
                <dxo-label [visible]="true" [customizeText]="customizePieLabel">
                  <dxo-connector [visible]="true" [width]="1"></dxo-connector>
                </dxo-label>
              </dxi-series>
              <dxo-legend [visible]="false"></dxo-legend>
            </dx-pie-chart>
          </div>
          <ng-template #noData>No EPR Data</ng-template>
        </div>
      </div>
    </dx-vector-map>
</div>  

