::ng-deep #vector-map {
    height: 800px;
    width: 95%;
  }
  
  ::ng-deep h4 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  ::ng-deep #gdp-sectors {
    width: 400px;
    height: 200px;
  }