@import "../../../../themes/generated/variables.base.scss";


.login-form {
  .link {
    text-align: center;
    font-size: 16px;
    font-style: normal;

    a {
      text-decoration: none;
    }
  }

  .login-div{
    background-image: url('/app/webroot/dist/gripsrecylx/assets/img/login-page.jpg');
    width: 100%;
    height: 100%;
}

  ::ng-deep .form-text {
    margin: 10px 0;
    color: rgba($base-text-color, alpha($base-text-color) * 0.7);
  }
}
